*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////////HEADER START//////// */
header{
    width: 100%;
    background-color:#000000;
    /* DEBUG */
    min-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

.bt-header{
    display: flex;
    justify-content: flex-end;
}
/* ////////HEADER END//////// */







/* ////////MAIN START//////// */
main{
    height: 100vh;
    overflow: auto;
}
.container{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    /* DEBUG */
    margin-top: 200px;
}
.users-box{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.user{
    /* DEBUG */
    width: 14%;
    /* min-height: 150px; */

}

.user-info{
    position: relative;
}
.user-name{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
}
img{
    max-width: 100%;
}

.user-box{
    flex-grow: 0;
}
/* ////////MAIND END//////// */


/* ////////FOOTER START//////// */
footer{
    background-color: #000000;
    width: 100%;
    min-height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
}
/* ////////FOOTER END//////// */